/* Global */

* {

    box-sizing: border-box;
    padding   : 0;
    margin    : 0;

    font-family: 'Poppins', sans-serif;
}

:root {

    font-size: 62.5%;
}

::-webkit-scrollbar-track {
    background: transparent;

}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background   : #f07e24;
    border-radius: 1rem;

}

a {
    text-decoration: none;
}